body {
  font-family: sans-serif;
  background-image: url('./One-Pot-Chicken-Parmesan-Pasta-5.jpg');
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
  margin: 40px 40px 40px 40px;
}

#single-product-container {
  display: flex;
  align-items: center;
  flex: 1 1 20%;
  flex-direction: column;
  border: 2px solid black;
  width: 40%;
  padding: 15px 15px 15px 15px;
  margin: 40px 40px 40px 40px;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
}

#single-product-container > div {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

#product-container > div {
  border: 1px solid rgb(6, 3, 56);
  padding: 10px 10px 10px 10px;
  margin: 40px 40px 40px 40px;
}

#cart-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#cart-container > div {
  padding: 10px 10px 10px 10px;
  margin: 10px 100px 10px 100px;
  border: 2px solid black;
  align-items: center;
}

.button {
  font-size: 24px;
  background-color: white;
  color: black;
  border: 2px solid rgb(83, 158, 180);
  cursor: pointer;
}

.checkout-button {
  transition-duration: 0.4s;
  border-radius: 4px;
  padding: 5px 5px;
  font-size: 15px;
  margin: 0 0 0 42%;
  width: 15%;
}

.checkout-button:hover {
  background-color: #6bac6d; /* Green */
  color: white;
}

h1 {
  text-align: center;
}

link {
  cursor: pointer;
}
.each-product-cart {
  display: flex;
  flex-direction: column;
}

.each-product-cart > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-direction: row;
}

.each-product-cart > button {
  width: 10%;
}

.confirm-order {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 40px 40px 40px 40px;
  margin: 40px 40px 40px 40px;
  align-items: center;
}

.confirm-order > div {
  padding: 20px 20px 20px 20px;
}

.userprofile {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 40px 40px 40px 40px;
  margin: 40px 40px 40px 40px;
  align-items: center;
}

.userprofile > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-direction: row;
}

.userprofile > div {
  padding: 20px 20px 20px 20px;
}
